@import url("https://use.typekit.net/npy6oxw.css");

*{
    margin: 0px;
    padding: 0px;
}

/* &&&&&&&&&&&&&&&&&&&&&& MODE MOBILE &&&&&&&&&&&&&&&&& */

body{
    font-family: 'bitcount-grid-double-square', 'sans-serif';
    color: #fff;
    font-weight: 500;
    background-color: black 
}

/*------------------- BOUTON RETOUR ET ROUND ----------------- */
.top{
    margin-top: -45px;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100vw;
}



.return{
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}

button{
    font-size: 20px;
    font-family: 'bitcount-grid-double-square', 'sans-serif';
    font-weight: 500;
    color: #fff;
    background: linear-gradient(#B92B2B, #5D1616);;
    margin-left: 244px;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
}

h2{
    font-size: 20px;
    margin-left: 10%;
    margin-bottom: 0.5rem;
}


/* ------------------------- TABLEAU DES SCORES ---------------------*/
.scores{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-self: center;
    background-color: black;
    width: 80vw;
    height: 100px;
    border-radius: 5px;
    border: solid 2px #B92B2B;
}
.toto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.computer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score{
    align-self: flex-end;
    font-size: 15px;
}

.scoreToto , .scoreComp {
    color: #B92B2B;
    font-size: 30px;
}

.bgBlock{ 
    display: flex;
    justify-content: center;
    height: 83vh;
    background-image: url(../img/ring.png);
    background-position: center center;
    background-size: cover;
    margin-top: 15vh;
    box-shadow: inset 0em 0em 2em 2em black;
}

/* -----------------BATAILLE------------------- */

.action{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 325px;
    width: 100%;
}

.totoChoice{
    margin-right: 50px;
    height: 100px;
    width: 100px;
}
div>.totoPierre.show{
    display: block;
}

.totoChoice.totoPierre.hide{
    display:none;
}


.totoPierre{
    display: none;
    margin-right: 50px;
    height: 100px;
    width: 100px;
}

.totoFeuille{
    display: none;
    margin-right: 50px;
    height: 100px;
    width: 100px;
}
.totoCiseaux{
    display: none;
    margin-right: 50px;
    height: 100px;
    width: 100px;
} */

.compChoice{
    margin-left: 50px;
    height: 100px;
    width: 100px;
}

.ordiPierre{
    display: none;
}

.ordiFeuille{
    display: none;
}
.ordiCiseaux{
    display: none;
}

/* ------------------------------- % ET CHOIX --------------------------- */
.persentAndChoices{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.persent{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

img{
    width: 80px;
}

/* -----------------------FILTRE BLANC + GAGNE----------------------- */

.filter{
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.247);
    border-radius: 25px;
    margin: 60vw 0vw 0vw 10vw;
    height: 20vh;
    width: 80%;
    text-shadow: 3px 6px 9px black;
    font-family: 'bitcount-grid-double-square', 'sans-serif';
    font-weight: 700;
    font-size: 56px; 
}

.win{
    display:none;
    color: goldenrod;
}

.loose{
    display:none;
    color:#B92B2B;
}

.equality{
    display:none;
    color: rgb(37, 37, 202);
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&& MODE WEB &&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

@media screen and (min-width: 768px){

    /*------------------- BOUTON RETOUR ET ROUND ----------------- */

    img{
        padding: 0px;
    }

    .filter{
        margin: 12vw 0vw 0vw 10vw;
        height: 50vh;
    }

    .action{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 450px;
        width: 100%;
    }
    .totoChoice{
        height: 200px;
        width: 200px;
    }
    .compChoice{
        height: 200px;
        width: 200px;
    }
    
}
